*.beam
.rebar3
*~
*.orig
.*.swp
*.fdb_latexmk
/whitepaper/*.log
/whitepaper/*.gz
/whitepaper/*.fls
/whitepaper/*.toc
/whitepaper/*.aux
/whitepaper/*.pdf
/whitepaper/*.out
/whitepaper/*.brf
_build
ebin/
.local_dialyzer_plt
erln8.config
.eqc/
/.eqc-info
/coverage/
/current_counterexample.eqc
/hgate.log
/hnode.log
config/dev1_vars.config
config/dev2_vars.config
config/dev3_vars.config
config/dev4_vars.config
log/
*.dump
GPATH
GRTAGS
GTAGS
