*.beam
.rebar3
*~
*.orig
.*.swp
_build
ebin/
.local_dialyzer_plt
erln8.config
.eqc/
/.eqc-info
/coverage/
codecov.json
/current_counterexample.eqc
*.dump
*.crashdump
GPATH
GRTAGS
GTAGS
tags
log/
data/
src/pb/
