{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files,
              [
               "ct.coverdata",
               "eunit.coverdata"
              ]}]
}.
{cover_excl_mods, [
    libp2p_identify_pb,
    libp2p_peer_pb,
    libp2p_ack_stream_pb,
    libp2p_gossip_pb,
    libp2p_relay_pb,
    libp2p_proxy_pb
]}.

{deps, [
    {lager, "3.6.5"},
    {multiaddr, "1.1.3"},
    {ranch, "1.5.0"},
    {ecc_compact, "1.0.4"},
    {enacl, "0.17.2"},
    {erl_base58, "0.0.1"},
    {nat, "0.3.0"},
    {gpb, "4.2.1"},
    {backoff, "1.1.6"},
    {cuttlefish, ".*", {git, "https://github.com/helium/cuttlefish", {branch, "develop"}}},
    {inet_ext, ".*", {git, "https://github.com/benoitc/inet_ext", {branch, "master"}}},
    {splicer, ".*", {git, "https://github.com/helium/erlang-splicer.git", {branch, "master"}}},
    {relcast, ".*", {git, "https://github.com/helium/relcast.git", {branch, "master"}}}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"},
    warn_untyped_records,
    debug_info,
    warnings_as_errors
]}.

{plugins, [rebar3_gpb_plugin,
           rebar3_proper,
           covertool]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [
    {i, "src"},
    {o_erl, "src/pb"},
    {o_hrl, "src/pb"},
    {msg_name_prefix, "libp2p_"},
    {msg_name_suffix, "_pb"},
    {module_name_suffix, "_pb"},
    {strings_as_binaries, false},
    type_specs
]}.

{shell, [{apps, [lager, ranch]}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps,all_deps}
]}.

{xref_checks,[
    undefined_function_calls,
    undefined_functions, %locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all, export_all]},
        {deps, [
            cth_readable,
            meck,
            proper
        ]}
    ]}
]}.
