{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, [libp2p_identify_pb, libp2p_peer_pb]}.

{deps, [
        {lager, "~>3.6"},
        {multiaddr, "~>1.1"},
        {ranch, "~>1.4"},
        {gpb, "~>4.1"},
        {ecc_compact, "~>1.0"},
        {erl_base58, "0.0.1"},
        {inert, ".*", {git, "https://github.com/msantos/inert", {branch, "master"}}},
        {bitcask, ".*", {git, "https://github.com/helium/bitcask", {branch, "modernize"}}},
        {nat, ".*", {git, "https://github.com/benoitc/erlang-nat.git", {branch, "master"}}}
       ]}.

{erl_opts, [
            {parse_transform, lager_transform},
            {i, "./_build/default/plugins/gpb/include"},
            warn_untyped_records,
            debug_info,
            warnings_as_errors
           ]}.

{plugins, [rebar3_gpb_plugin]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}},
           {clean, {protobuf, clean}}]}
]}.

{gpb_opts, [
            {i, "src"},
            {o_erl, "src/pb"},
            {o_hrl, "src/pb"},
            {msg_name_prefix, "libp2p_"},
            {msg_name_suffix, "_pb"},
            {module_name_suffix, "_pb"},
            {strings_as_binaries, false},
            type_specs
           ]}.

{shell, [
         {apps, [lager, ranch]}
        ]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{profiles, [{test, [{deps, [cth_readable]}]}]}.
